<nav>
    <div class="site-title">
        <a href="/"><h1>Placeholder</h1></a>
        <p>This is a placeholder</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/classes">Classes</a></li>
        <li><a href="/classes/create">Add Class</a></li>
    </ul>
</nav>