<nav>
    <div class="site-title">
        <a href="/"><h1>Course <span class="secondary-title">Adjust</span></h1></a>
    </div>
    <ul>
        <li><a href="/">Your Courses</a></li>
        <li><a href="/classes">Course List</a></li>
        <li><a href="/classes/create">Edit Course</a></li>
        <li><a href="/classes/signin">Sign In</a></li>
    </ul>
</nav>