<html lang = "en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
        This is not the page you are looking for
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>