<html lang = "en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>Classes</h2>
        <p>Placeholder</p>
        <p>Placeholder</p>
        <p>Placeholder</p>
    </div>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>