<html lang = "en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about">
        <h2>Welcome to CourseAdjust</h2>
        <p>CourseAdjust is a node.js / ejs project developed for SDEV255 Web Application Development as a capstone project for the course.</p>

        <h3>Students can:</h3>
        <ul>
            <li>View the homepage</li>
            <li>See their current schedule</li>
            <li>Browse the course index</li>
            <li>Add courses from the index to their schedule</li>
            <li>Read detailed information about each course</li>
            <li>Login/Logout</li>
        </ul>
        
        <h3>Teachers can:</h3>
        <ul>
            <li>View the homepage</li>
            <li>View the course index</li>
            <li>Remove courses from the index (Removing a course also removes the course from any student that has already registered)</li>
            <li>Add new courses from the Add Course page</li>
            <li>Update existing courses from the Update Course page</li>
            <li>Read detailed information about each course</li>
            <li>Login/Logout</li>
        </ul> 
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>