@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
body{
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Noto Serif', serif;
  background: #f5f5f5;
}
p, h1, h2, h3, a, ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

/* nav & footer styles */
nav{
  display: center;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgb(0, 0, 0);
  text-transform: uppercase;
  background-color: #006648;
  border-radius: 8px;  
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 24px;
}
nav li{
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
}
nav h1{
  text-align: center;
  font-size: 3em;
}
nav p{
  text-align: center;
  color: #000000;
  font-weight: 300;
}

nav a{
  text-align: center;
  color: #ffffff;
  font-weight: 700;
}
footer{
  color: #000000;
  text-align: center;
  margin: 80px auto 20px;
}
h2{
  margin-bottom: 40px;
}
h3{
  text-transform: capitalize;
  margin-bottom: 8px;
}
.content{
  margin-left: 20px;
}

/* partial styles*/
.site-title {
  background-color: #006648;
}

.site-title h1 {
  color: white;
}

.secondary-title {
  color: #8dc63f;
}

/* index styles */
.classes {
  border: solid;
  border-color: #d8d8d8;
  border-width: 2px;
  padding: 24px;
  border-radius: 8px;
  background-color: white;
}
.entry:nth-child(odd){
  background-color: #f5f5f5;
}

.snippet {
  margin-left: 24px;
}

/* details styles */
.course-list{
  display: grid;
  grid-template-columns: auto auto;
  border: solid;
  border-color: #d8d8d8;
  border-width: 2px;
  background-color: white;
  padding: 24px;
  column-gap: 24px;
  row-gap: 24px;
  border-radius: 8px;
}

.course-list button {
  height: 24px;
  grid-column-start: 1;
  grid-column-end: 1;
}

.entry {
  grid-column-start: 2;
  grid-column-end: 2;
}

/* create styles */
.create-class form{
  max-width: 400px;
  margin: 0 auto;
}
.create-class input,
.create-class textarea{
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.create-class label{
  display: block;
  margin-top: 24px;
}
textarea{
  height: 120px;
}
.create-class button{
  margin-top: 20px;
  background: green;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}