@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Noto Serif', serif;
  background: #f5f5f5;
}

p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

/* nav & footer styles */
nav {
  display: center;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: space-between;
  margin-bottom: 48px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgb(0, 0, 0);
  text-transform: uppercase;
  background-color: #006648;
  border-radius: 8px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 24px;
}

nav li {
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
}

nav h1 {
  text-align: center;
  font-size: 3em;
}

nav p {
  text-align: center;
  color: #000000;
  font-weight: 300;
}

nav a {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
}

span.count {
  color: #8dc63f;
}

span.seperator {
  text-align: center;
  color: #8dc63f;
  font-weight: 700;
  padding-left: 8px;  
  padding-right: 8px;
}

footer {
  color: #000000;
  text-align: center;
  margin: 80px auto 20px;
}

h2 {
  margin-bottom: 40px;
}

h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}

.bold {
  font-weight: 700;
}

.content h2 {
  margin-left: 20px;
}

.greeting {
  color: #8dc63f;
  text-transform: none;
}

/* partial styles*/
.site-title {
  background-color: #006648;
}

.site-title h1 {
  color: white;
}

.secondary-title {
  color: #8dc63f;
}

/* index styles */

.about {
  margin-left: 20px;  
}

.about ul {
  margin-left: 48px;
}

.about p,
.about h3 {
  margin-top: 16px;
  margin-left: 20px;
}

.classes {
  border: solid;
  border-color: #d8d8d8;
  border-width: 2px;
  padding: 24px;
  border-radius: 8px;
  background-color: white;
}

.entry:nth-child(odd) {
  background-color: #f5f5f5;
}

.snippet {
  margin-left: 24px;
}

/* courses styles */
.course-list {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  border: solid;
  border-color: #d8d8d8;
  border-width: 2px;
  background-color: white;
  padding: 24px;
  column-gap: 24px;
  row-gap: 8px;
  border-radius: 8px;
  justify-content: start;
}

.course-list div:nth-of-type(odd) {
  background-color: #f5f5f5;
}

.course-description {
  background-color: #f5f5f5;
  height: 24px;
  padding: 8px;
  border-radius: 8px;
  border:solid;
  border-width: 1px;
  border-color: #f5f5f5;
}

.entry {
  grid-column-start: 2;
  grid-column-end: 2;
}

.add,
.delete,
.drop {
  height: 24px;
  width: 145px;
  grid-column-start: 1;
  grid-column-end: 1;
  font-weight: 700;
  padding: 8px;
  border-radius: 8px;
  border: solid;
  border-width: 1px;
  border-color: #dddddd;

}

.add:hover {
  cursor: pointer;
  border-radius: 8px;
  color: white;
  background-color: #8dc63f;
}

.add:hover + .course-description {
  border-color: #8dc63f;
}

.delete:hover,
.drop:hover {
  cursor: pointer;
  border-radius: 8px;
  color: white;
  border-color: darkred;
  background-color: red;
}

.delete:hover + .course-description,
.drop:hover + .course-description {
  border-color: red;
}

/* detail styles*/
.details {
  border: solid;
  border-color: #d8d8d8;
  border-width: 2px;
  background-color: white;
  padding: 24px;
  border-radius: 8px;
}

.details p {
  padding-bottom: 16px;
}

.single h3:hover {
  color: #8dc63f;
}

/* create styles */
.create-course h2 {
  max-width: 400px;
  margin: 0 auto;
}

.create-course form {
  max-width: 400px;
  margin: 0 auto;
}

.create-course input,
.create-course textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.create-course label {
  display: block;
  margin-top: 24px;
}

textarea {
  height: 120px;
}

.create-course button {
  margin-top: 20px;
  background: green;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}

/* signup styles*/
.signup {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px black;
  border-radius: 10px;
  background: white;
}

.error {
  color: red;
  margin: 10px 2px;
  font-weight: bold;
}


/* form styles */
.login,
.signup {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px black;
  border-radius: 8px;
  background: white;
}

.login input,
.signup input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}

.login input[type=submit],
.signup input[type=submit],
.create-course input[type=submit] {
  width: 100%;
  background-color: #006648;
  color: white;
  padding: 14px 20px;
  margin: 24px 0 0 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1em;
}

.login input[type=submit]:hover,
.signup input[type=submit]:hover,
.create-course input[type=submit]:hover {
  background-color: #8dc63f;
}

.login input[type=text]:focus,
.login input[type=password]:focus,
.signup input[type=text]:focus,
.signup input[type=password]:focus {
  outline: transparent !important;
  border-color: #8dc63f;
}

.signup input[type=checkbox] {
  accent-color: #006648;
  margin-left: 24px;
  width: 18px;
  height: 18px;
}

.create-course input:focus,
.create-course textarea:focus {
  outline: #8dc63f;
  border-color: #8dc63f;
  box-shadow: 0 0 2px #006648;
}